* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFD521;
    font-family: simpsons;
}

@font-face {
    font-family: simpsons;
    src: url(../fonts/Simpsonfont\ DEMO.otf);
}
nav{
    font-family: simpsons;
}

.marge:target::before {
    content: "►";
    color: blue;
}
.homero {
    background-color: white;
}
.homero:target::before {
    content: "►";
    color: blue;
}
.bart {
    background-color: white;
}
.maggie {
    background-color: white;
}

.line:empty {
    background-color: black;
    height: 0.5rem;
    width: 100%;
    border-radius: 2rem;
    margin: 10px;
}